.advantages {
  padding-top: 121px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 49px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 30px 31px;

  @include vp-1023 {
    gap: 30px 27px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    gap: 30px 0;
  }
}

.advantages__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: $color-deep-sky-blue;
  content: "";
}

.advantages__item {
  padding: 40px 45px 30px;
  position: relative;
  min-height: 300px;
  border: 1px solid $color-whisper;
  color: $color-deep-sky-blue;

  &:hover {
    background-color: $color-deep-sky-blue;
  }

  &:hover h3,
  &:hover p {
    color: $color-alice-blue;
  }

  &:hover svg {
    color: $color-alice-blue;
  }

  @include vp-1023 {
    min-height: 360px;
  }

  @include vp-767 {
    padding-left: 30px;
    padding-top: 30px;
    min-height: 340px;
  }
}

.advantages__item h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;
  font-family: $ff-roboto-condensed;
  margin: 0;
  margin-bottom: 12px;

  @include vp-1023 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
    max-width: 210px;
  }
}

.advantages__item p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $ff-pt-mono;
  color: $color-default-black;
  max-width: 505px;

  @include vp-1023 {
    max-width: 238px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    max-width: auto;
  }
}

.advantages__item svg {
  margin-bottom: 14px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
  }
}

.advantages__item:last-child h3 {
  @include vp-1023 {
    margin-bottom: 4px;
  }
}
